<h3>My Blog Posts</h3>

{{#if logged_in}}
{{#each posts as |post| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <a href="/post/{{id}}"><h2>{{title}} by {{user.username}}</h2></a>
  </div>
  <div class="col-md-6">
    <p>{{content}}</p>
  </div>
</div>
{{/each}}

<div class="form-group">
  <button class="btn btn-primary" type="submit">Create New Post</button>
</div>
{{/if}}

