{{!-- {{#each posts as |post| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <a href="/post/{{post.id}}"><h2>{{post.title}} by {{post.user_id}}</h2></a>
  </div>
  <div class="col-md-6">
    <p>{{post.content}}</p>
  </div>
</div>
{{/each}} --}}

{{#each posts as |post| }}
{{> post-details}}
{{/each}}
